The Code
This would go in your <head> with all the other regular CSS <link>ed CSS files. The opening and closing tags should be familiar, that's just regular ol' HTML comments. Then between the brackets, "IF" and "IE" should be fairly obvious. The syntax to note is "!" stand for "not", so !IE means "not IE". gt means "greater than", gte means "greater than or equal", lt means "less than", lte means "less than or equal."

Target ALL VERSIONS of IE
<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="all-ie-only.css" />
<![endif]-->
Target everything EXCEPT IE
<!--[if !IE]><!-->
	<link rel="stylesheet" type="text/css" href="not-ie.css" />
 <!--<![endif]-->
Target IE 7 ONLY
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="ie7.css">
<![endif]-->
Target IE 6 ONLY
<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="ie6.css" />
<![endif]-->
Target IE 5 ONLY
<!--[if IE 5]>
	<link rel="stylesheet" type="text/css" href="ie5.css" />
<![endif]-->
Target IE 5.5 ONLY
<!--[if IE 5.5000]>
<link rel="stylesheet" type="text/css" href="ie55.css" />
<![endif]-->
Target IE 6 and LOWER
<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="ie6-and-down.css" />
<![endif]-->
<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="ie6-and-down.css" />
<![endif]-->
Target IE 7 and LOWER
<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="ie7-and-down.css" />
<![endif]-->
<!--[if lte IE 7]>
	<link rel="stylesheet" type="text/css" href="ie7-and-down.css" />
<![endif]-->
Target IE 8 and LOWER
<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="ie8-and-down.css" />
<![endif]-->
<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="ie8-and-down.css" />
<![endif]-->
Target IE 6 and HIGHER
<!--[if gt IE 5.5]>
	<link rel="stylesheet" type="text/css" href="ie6-and-up.css" />
<![endif]-->
<!--[if gte IE 6]>
	<link rel="stylesheet" type="text/css" href="ie6-and-up.css" />
<![endif]-->
Target IE 7 and HIGHER
<!--[if gt IE 6]>
	<link rel="stylesheet" type="text/css" href="ie7-and-up.css" />
<![endif]-->
<!--[if gte IE 7]>
	<link rel="stylesheet" type="text/css" href="ie7-and-up.css" />
<![endif]-->
Target IE 8 and HIGHER
<!--[if gt IE 7]>
	<link rel="stylesheet" type="text/css" href="ie8-and-up.css" />
<![endif]-->
<!--[if gte IE 8]>
	<link rel="stylesheet" type="text/css" href="ie8-and-up.css" />
<![endif]-->
Universal IE 6 CSS
Dealing with IE 6 and below is always an extra-special challenge. These days people are dropping support for it right and left, including major businesses, major web apps, and even governments. There is a better solution than just letting the site go to hell, and that is to server IE 6 and below a special stripped-down stylesheet, and then serve IE 7 and above (and all other browsers) the regular CSS. This is been coined the universal IE 6 CSS.

<!--[if !IE 6]><!-->
  <link rel="stylesheet" type="text/css" media="screen, projection" href="REGULAR-STYLESHEET.css" />
<!--<![endif]-->

<!--[if gte IE 7]>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="REGULAR-STYLESHEET.css" />
<![endif]-->

<!--[if lte IE 6]>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css" />
<![endif]-->
Hacks
If you must...

IE-6 ONLY
* html #div { 
    height: 300px;
}
IE-7 ONLY
*+html #div { 
    height: 300px;
}
IE-8 ONLY
#div {
  height: 300px\0/;
}
IE-7 & IE-8
#div {
  height: 300px\9;
}
NON IE-7 ONLY:
#div {
   _height: 300px;
}
Hide from IE 6 and LOWER:
#div {
   height/**/: 300px;
}
html > body #div {
      height: 300px;
}



/* opacity */


.transparent_class {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;

filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src='http://www.radiantinteractive.com/rs/images/MerkabaGlow.png');
  
}




/* ---------- Globales -------------- */
body,html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	}
	
@font-face {
	font-family: 'Conv_SamsungIF_Rg';
	src: url('fonts/SamsungIF_Rg.eot');
	src: local('☺'), url('fonts/SamsungIF_Rg.woff') format('woff'), url('fonts/SamsungIF_Rg.ttf') format('truetype'), url('fonts/SamsungIF_Rg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
.arial{
	font-family:Arial, Helvetica, sans-serif;
	
	}
.bg-repeat-x{
	background-repeat:repeat-x
	
	}
#legales{
    color: #767676;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 70px;
    margin: auto;
    padding: 5px 0;
    text-align: justify;
	}

.msj_error {
    color: #00a9e0;
    display: block;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    margin: auto auto 4px;
	height: 18px;
}
.msj_campos_obligatorios{
	font-size: 12px;
	color: #ffffff;
}
.error_msj_color{
	  color: #B20808 !important;
	font-weight:bold;
	}
	
.msj_error_size{
	height:20px;
	margin-top:30px;
	
	}
	
.display-inline{
	display:inline;
	}
.display-block{
	display:block;
	}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
input.error{
	background-color: #f7f91c;
	}
select.error{
	background-color: #f7f91c;
	}
textarea.error{
	background-color: #f7f91c;
	}	
label.error{
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-left: 11px;
    padding-top: 8px;
    width: 240px;
    float: left;
    display: block;

	}


.btns {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bg-norepeat {
  background-repeat: no-repeat;
}
.bg-repeat-x {
  background-repeat: repeat-x;
}
.bg-repeat-y {
  background-repeat: repeat-y;
}
.bg-repeat {
  background-repeat: repeat;
}

.txt-bold{
	font-weight:bold;
	}
	
.txt-center{
	text-align:center;
	}
	
.estirado{
	height:100%;
	width:100%;
	
	}

.centrado{
	margin:auto;
	
	}
.relativo{
	position:relative;
	}
.absoluto{
	position:absolute;
	}

.ancho-app{
	width:760px;
	}
.sprite{
	background-image: url(../images/sprite.png);
	background-repeat:no-repeat;
  	border: none;
  	background-color: transparent;

	}

/* ----------  End Globales -------------- */

.clear_block:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}